<div class="callout">
<h3 class="header-title">Add a fish to our database:</h3>
<%= form_for @fish do |f|%>

  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :description, "Brief Description (optional)" %>
  <%= f.text_area :description %>

  <%= f.label :fish_photo, "Picture of Fish" %>
  <%= f.file_field :fish_photo %>

  <%= f.submit "Add the Fish", class: "button" %>
  <% end %>
</div>
