<h2>Report what you caught here!</h2>

<div>
  <%= form_for @catch do |f| %>
<div class="row">
  <div class="small-6 columns">
    <%= f.label :lure, "Lure" %>
    <%= f.select(:lure, Lure.all.collect {|lure| [ lure.name, lure.id ] }, :prompt => "Select a Lure") %>
    <%= link_to "Add a Lure", new_lure_path %>

    <%= f.label :fish_type, "Fish" %>
    <%= f.select(:fish_type, FishType.all.collect {|fish| [ fish.name, fish.id ] }, :prompt => "Select a Fish") %>
    <%= link_to "Add a Fish", new_fish_type_path %>
  </div>
  <div class="small-6 columns">
    <a href='#' id='locate-me' class='ui-button'>Find me</a>
    <%= f.label :latitude, "Latitude" %>
    <%= f.text_field :latitude %>
    <%= f.label :longitude, "Longitude" %>
    <%= f.text_field :longitude %>

    <%= f.label :caught_at, "Caught at:" %>
    <%= f.date_select :caught_at %>
  </div>
</div>
<div class="row">
  <%= f.label :catch_photo, "Add a picture of your catch!" %>
  <%= f.file_field :catch_photo %>

  <%= f.submit "Report it!", id: "add-catch"%>
  <% end %>
  <div id='map'</div>
</div>
<script>
  drawNewCatchMap();
</script>
