
<div class="user-info">
  <ul>
    <li><%= @catch.user.username %></li>
    <li><%= @catch.caught_at %></li>
  </ul>
</div>
<div class="catch-info">
  <ul>
    <li><%= @catch.fish_type.name %></li>
  </ul>
  <% if !@catch.catch_photo.file.nil? %>
    <div class="catch-photo">
      <%= image_tag @catch.catch_photo %>
    </div>
  <% end %>
  <ul>
    <li><%= @catch.lure.name %></li>
    <li><%= @catch.lure.manufacturer %></li>
    <li><%= @catch.lure.category %></li>
  </ul>
</div>
<div class="show-map"></div>
