<div class="callout">
<h2 class="header-title">Catch #<%= @catch.id %></h2>
  <div class="row">
    <div class="catch large-6 small-12 columns">
      <div class="user-info">
        <ul>
          <li>Caught by: <%= @catch.user.username %></li>
          <li><%= @catch.caught_at.strftime("Caught on %m/%d/%Y") %></li>
          <% if !current_user.nil? %>
            <% if current_user.id == @catch.user.id %>
              <li>
                <%= link_to "Update your Catch", edit_catch_path(@catch) %>
              </li>
              <li>
                <%= link_to "Delete your Catch", catch_path(@catch), data: { :confirm => "Are you sure?" }, method: :delete %>
              </li>
            <% end %>
          <% end %>
        </ul>
      </div>
      <div class="catch-info">
        <ul>
          <li>Fish caught: <%= @catch.fish_type.name %></li>
        </ul>
        <% if !@catch.catch_photo.file.nil? %>
        <div class="catch-photo">
          <%= image_tag @catch.catch_photo %>
        </div>
        <% end %>
        <ul>
          <li>Lure used: <%= @catch.lure.name %></li>
          <ul>
            <li>Manufacturer: <%= @catch.lure.manufacturer %></li>
            <li>Category: <%= @catch.lure.category %></li>
          </ul>
        </ul>
        <ul>
          <li>Latitude:</li>
          <li id="latitude"><%= @catch.latitude %></li>
          <li>Longitude:</li>
          <li id="longitude"><%= @catch.longitude %></li>
        </ul>
      </div>

    </div>

    <div class="large-6 small-12 small-centered columns" id="map-holder">
      <div id="map"></div>
      <script>
      $(document).ready(function () {
        var catchLat = document.getElementById("latitude").innerHTML;
        var catchLng = document.getElementById("longitude").innerHTML;
        drawShowCatchMap(catchLat, catchLng);
      });
      </script>

    </div>
  </div>
</div>
