<div class="callout">
<h3 class="header-title">Add a lure to our database:</h3>

  <div class="row">
    <%= form_for @lure do |f|%>
    <div class="small-6 columns">
      <%= f.label :name, "Name" %>
      <%= f.text_field :name %>
    </div>
    <div class="small-6 columns">
      <%= f.label :manufacturer, "Manufacturer" %>
      <%= f.text_field :manufacturer %>
    </div>
    <div class="row">
      <div class="small-6 column">
        <%= f.label :category, "Category" %>
        <%= f.select(:category, options_for_select(@categories), :prompt => "Select a category") %>
      </div>
      <div class="small-6 columns">
        <%= f.label :description, "Description" %>
        <%= f.text_area :description %>
      </div>
    </div>
    <div class="row">
      <div class="small-6 small-centered columns">
        <%= f.label :lure_photo, "Picture of Lure" %>
        <%= f.file_field :lure_photo %>

        <%= f.submit "Add the Lure", class: "button" %>
      </div>
    </div>
    <% end %>
  </div>
</div>
