<h2><%= @lure.name %></h2>
<h4><%= @lure.manufacturer %></h4>

<h5><%= @lure.category.name %></h5>
<h5><%= @lure.description %></h5>

<% @fish_on_lure.each do |fish, count| %>
  <h5><%= link_to fish.name, fish_type_path(fish) %></h5>
<% end %>
