<h2><%= @lure.name %></h2>
<h4><%= @lure.manufacturer %></h4>

<h5><%= @lure.category %></h5>
<h5><%= @lure.description %></h5>
<% if !@lure.lure_photo.file.nil? %>
  <div class="lure-photo">
    <%= image_tag @lure.lure_photo %>
  </div>
<% end %>

<% if @fish_on_lure == 0 %>
  <h4>No fish have been recorded as caught on this lure, go catch one!</h4>
<% else %>
  <% @fish_on_lure.each do |fish, count| %>
  <h5><%= link_to fish.name, fish_type_path(fish) %></h5>
  <% end %>
<% end %>
