<div id="button-group">

<button class="button" type="button" data-toggle="catches-dropdown">Recent Catches</button>
<div class="dropdown-pane" id="catches-dropdown" data-dropdown data-auto-focus="true">
  <div class="row">
    Narrow your search
  </div>
  <br>
  <div class="row">
    <%= form_tag(recent_catches_path, method: "get") do %>
    <div class="small-6 columns">
      <label>Fish
        <%= text_field_tag(:f) %>
      </label>
    </div>
    <div class="small-6 columns">
      <label>Lure
        <%= text_field_tag(:l) %>
      </label>
    </div>
    <br>
    <div class="row">
      <div class="small-6 columns">
        <%= link_to "All Recent Catches", catches_path %>
      </div>
      <div class="small-6 columns">
        <%= submit_tag("Search Recent Catches", class: 'button') %>
      </div>
      <% end %>
    </div>
  </div>
</div>
  <button class="button" type="button" data-toggle="lures-dropdown">Lures</button>
  <div class="dropdown-pane" id="lures-dropdown" data-dropdown data-auto-focus="true">
    <div class="row">
      Narrow your search
    </div>
    <br>
    <div class="row">
      <%= form_tag(hot_lures_path, method: "get") do %>
      <div class="small-6 columns">
        <label>Fish
          <%= text_field_tag(:f) %>
        </label>
      </div>
      <div class="small-6 columns">
        <%= link_to "All Lures", lures_path %>
        <br>
        <%= submit_tag("Search Hot Lures", {:class => 'button'}) %>
      </div>
      <% end %>
    </div>
  </div>
<button class="button" type="button" data-toggle="fish-type-dropdown">Fish</button>
<div class="dropdown-pane" id="fish-type-dropdown" data-dropdown data-auto-focus="true">
  <div class="row">
    Narrow your search
  </div>
  <br>
  <div class="row">
    <%= form_tag(hot_fish_types_path, method: "get") do %>
    <div class="small-6 columns">
      <label>Lure
        <%= text_field_tag(:l) %>
      </label>
    </div>
    <div class="small-6 columns">
      <%= link_to "All Fish", fish_types_path %>
      <br>
      <%= submit_tag("Search Fish", {:class => 'button'}) %>
    </div>
    <% end %>
  </div>
</div>
</div>
